/.cproject
/.project
/.settings/
#/src/test-string-view-stream
#/src/test-u8char
#/src/test-split-utils
#/src/test-string-utils
#/src/test-unicode-utils
*.d
*.bak
/Makefile.local
/doxy-docs/
/src/
!/src/*.{cpp,hpp,h}
CMakeLists.txt